<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.springcloud.dao.PayMentMapper">
    <resultMap id="BaseResultMap" type="com.md.springcloud.pojo.PayMent">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="create" parameterType="com.md.springcloud.pojo.PayMent" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial)
            value (#{serial})
    </insert>

    <select id="getPayMentById" parameterType="long" resultMap="BaseResultMap">
        select *
        from payment
        where id = #{id}
    </select>
</mapper>
